.mascota-card-horizontal {
  display: flex;
  gap: 0.75rem;
  border: 1px solid #eee;
  padding: 0.5rem;
  border-radius: 6px;
}

.mascota-card-imagen-horizontal img {
  width: 120px;
  height: 80px;
  object-fit: cover;
}
